nav {
  background-color: #2f2fe0;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
main {
  margin-top: 10vh;
}
.card-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card-info {
  padding: 8px;
  text-align: center;
  width: 100%;
}
.card-info h3 {
  color: black;
}
.card-info p {
  color: black;
}
